*{
    box-sizing: border-box;
}

.uploader{
    display:flex;
    flex-direction:column;
    max-width:300px;
    margin:0 auto;
    padding:10px;
    /* position:fixed;
    bottom:0px;
    left:100px; */
    
}


.uploadprogress{
    width:100%;
}

.caption{
    width:100%;
    height:25px;
    margin-top:5px;
}